body {
  font-family: Arial;
  text-align: center;
  background: #111;
  color: #fff;
}

input {
  padding: 10px;
  margin: 10px;
  width: 250px;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

pre {
  text-align: left;
  background: #222;
  padding: 15px;
  margin: 20px;
}
